

<script src="https://sdk.mercadopago.com/js/v2"></script>



<div class="row">
    <div id="col-carrito" class="col">
        <div class="row">
            <div class="col">
                <p>Producto</p>
            </div>
            <div class="col">
                <p>Envío</p>
            </div>
            <div class="col">
                <p>Cantidad</p>
            </div>
            <div class="col">
                <p>Subtotal</p>
            </div>
            <div class="col">
            </div>
        </div>
        <hr>
    </div>
    <div style="width: 15px;"></div>
    <div class="col-2" id="col-compra">
        <div class="row ">
            <p class="text-justify-center">Resumen</p>
        </div>
        <hr>
        <div class="row">
            <p>Total productos: <span id="total-productos"></span></p>
        </div>
        <div class="row">
            <p>Descuentos: <span id="descuentos"></span></p>
        </div>
        <div class="row">
            <p>Envío: <span id="envio"></span></p>
        </div>
        <div class="row">
            <p>Total: <span id="precio-total"></span></p>
        </div>
        <div class="row">
            <button id="boton-comprar" type="button" class="btn pagar-verde">Ir a pagar</button>
            <div class="cho-container"></div>
        </div>
        <div class="row">
            <button id="https://runtimetestbeta.lappiz.io/#/forms?viewName=MercaFruta_Lappiz_Productos&entityId=3236f5d9-3fc5-4cdf-86c3-e1d2b3815b66&entityName=MercaFruta_Lappiz_Productos&appViewId=cdfdc319-5217-480c-990e-14920db48c40" type="button" class="seguir-comprando btn verde color-verde">Seguir comprando</button>
        </div>
    </div>
</div>



<style>

.grupo-w {
    width: 35px;
}

#col-carrito {
    padding: 3px;
}

.grupo {
    height: 21px;
}

#col-compra {
    padding: 3px;
}

.verde {
    outline: #6CA90E solid 1px;
    background-color: transparent;
}

.color-verde {
    color: #6CA90E;
}

.pagar-verde {
    background-color: #6CA90E;
    color: white;
}
</style>