
<div class="row">
  <div class="col-4">
      <div class="carrot" style="width: 100%;">
          <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-48190,resizemode-1,msid-92505658/news/economy/finance/record-82-billion-deal-making-spree-sees-india-defy-global-slump.jpg"
              width="100%" height="75%" alt="a">
      </div>
  </div>
  <div class="col-8">
      <div class="row">
          <h2>Bienvenido a Frutanet</h2>
      </div>
      <div class="row">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, officiis fuga! Illo laudantium
              aspernatur obcaecati nesciunt animi veniam magnam sed molestias, quia iste possimus dolore odit
              repudiandae nisi ex in.</p>
      </div>
      <br>
      <div class="row">
          <div class="col">
              <p><strong>Quiero ser</strong></p>
          </div>

      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <select class="form-control" name="tipo_persona" id="tipo_persona" required>
                      <option value="">Seleccione una opción</option>
                      <option value="">Stakeholder</option>
                      <option value="">Colaborador</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p><strong>Nombre</strong></p>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <input class="form-control" id="nombre" type="text">
              </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p><strong>Email</strong></p>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <input class="form-control" type="email" id="correo">
                  </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col">
                  <button id="btn-enviar" type="button" class="btn back-verde" style="color: white;">Enviar</button>
              </div>
          </div>
      </div>
  </div>

  <style>
      .back-verde {
          background-color: #6CA90E;
      }
  </style>