<div class="row align-self-center">
  <div class="col">
      <div class="input-group">

          <select name="" id="select-cat" class="bor-barra-cat">
              <option value="">Categoría</option>
              <option value="Frutas">Frutas</option>
              <option value="Verduras">Verduras</option>
              <option value="Hortalizas">Hortalizas</option>
              <option value="Semillas">Semillas</option>
              <option value="Granos">Granos</option>
              <option value="Otros">Otros</option>
          </select>
          <input id="buscar" class="form-control bor-barra-bus" type="search" placeholder="Buscar productos">
          <!-- <div class="input-group-prepend"> -->
          <button id="boton-buscar" class="btn bor-barra-lup back-verde" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-search" style="color: white;" viewBox="0 0 16 16">
                  <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
          </button>
          <!-- </div> -->
      </div>
  </div>
  <div class="col">
      <ul class="input-group" style="list-style-type: none;">
          <li class="nav-item">
              <button type="button" class="btn btn-sm back-verde" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><small class="btn-login">
                      <a id="https://runtimetestbeta.lappiz.io/#/auth/login/MercaFruta_Lappiz"
                          role="button">Ingresar</a></small>
              </button>
          </li>
          <div>
              <p style="margin: 3px;"></p>
          </div>
          <li class="nav-item">
              <button type="button" class="btn btn-sm back-verde" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><small class="btn-reg"><a id="https://runtimetestbeta.lappiz.io/#/forms?viewName=MercaFruta_Lappiz_Anonimo&entityId=d78adbad-a584-4ca8-83ff-2077939b0da4&entityName=MercaFruta_Lappiz_Anonimo&appViewId=8bb1e803-0a8d-4ec6-b6b9-1e596d16edbb
                " role="button">Registrarse</a> </small></button>
          </li>
          <li class="nav-item">
              <button type="button" class="nav-link btn" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-person-circle back-verde rounded-circle" style="color: white;"
                      viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                      <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                  </svg>
              </button>
          </li>
          <li class="nav-item">
              <button type="button" class="nav-link btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-heart-fill color-verde" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                  </svg>
              </button>
          </li>
          <li class="nav-item">
              <button type="button" class="nav-link btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-basket2-fill color-verde" viewBox="0 0 16 16">
                      <path
                          d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
                  </svg>
                  <p id="boton-cart-p"></p>

              </button>
          </li>
      </ul>
  </div>
  <!-- </div> -->
</div>