*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

div{
  width: 500px;
  height: 500px;
  margin: 10px auto;
  overflow: hidden;
}

img{
  width: 500px;
  height: 500px;
  float: left;
}

section{
  width: 40%;
  height: 500px;
  background-color: black;
  position: relative;
  top: -500px;
  float: left;
  color: white;
  font-family: cursive;
  font-size: 30px;
  display: none;
  opacity: .7;
  animation-name: slide;
  animation-duration: 2s;
}

span{
  color: white;
  font-family: cursive;
  font-size: 30px;
  position: relative;
  top: 50px;
}

div:hover section{
  display: block;
}

@keyframes slide{
  0%{opacity: 0;}
  100%{opacity: .7;}
}